<div class="flex-container">
    <am-vertical-card img="/assets/neil-essentials.webp" title="Neil Young: Essentials"
        description="Apple Music Classic Rock">Loading...</am-vertical-card>

    <div class="row">
        <div class="title">
            Neil Young Essentials
        </div>
        
        <div class="genre">
            Apple Music Classic Rock
        </div>

        <div class="button">
            <button type="button" class="btn am">Play</button>
        </div>
    </div>
</div>