<div class="flex-container">
    <am-vertical-card img="/assets/joni-essentials.webp" title="Joni Mitchell: Essentials" description="Apple Music Classic Rock">Loading...</am-vertical-card>

    <div class="row">
        <div class="title">
            Joni Mitchell Essentials
        </div>
        
        <div class="genre">
            Apple Music Classic Rock
        </div>

        <div class="button">
            <button type="button" class="btn am">Play</button>
        </div>
    </div>
</div>