<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/2560px-Apple_Music_logo.svg.png" alt="" width="125.88" height="30">
    </a>
  </div>

  <form>
    <div class="input-group border">
      <span class="input-group-text" id="basic-addon1">
        <svg class="bi" width="32" height="32" fill="dimgray">
          <use xlink:href="/assets/bootstrap-icons.svg#search" />
        </svg>
      </span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>

</nav>