<am-user-info>Loading...</am-user-info>
<div class="container-fluid">
    <div class="row">
        <div class="colLeft">
            <am-topnavbar>Loading...</am-topnavbar>
            <fm-sidenavbar>Loading...</fm-sidenavbar>
        </div>

        <div class="colRight">
            <div class="row">
                <am-singin>Loading...</am-singin>
                
            </div>

            <router-outlet>

            </router-outlet>

            <am-footer>Loading...</am-footer>
        </div>
    </div>
</div>