.card {
    width: 36rem;
}

.card-title{
    font-family:-apple-system, BlinkMacSystemFont, sans-serif;
    color: #b5b5b5;
}

.card-text{
    font-family:-apple-system, BlinkMacSystemFont, sans-serif;
    color: #30353d;
}

.carousel-inner {
    align-items: center;
}

.carousel-control-prev-icon {
    background-image: none !important;/*url('/static/images/arrow-left.png');*/
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.carousel-control-next-icon {
    left: auto;
    right: 15px;
    background-image: none !important; /*url('/static/images/arrow-right.png')*/
    background-position:0px 0px;
    background-repeat:no-repeat;
}
.nav-item{
    background-color:white;
    border: none;
    text-align: left;
    list-style-type: none;
    align-items: left;
}

.row{
    margin-bottom: 25px;
}