<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    
                    <div class="card">
                        <a routerLink="/Neil-Young" routerLinkActive="active">
                            <div class="card-body">
                                <h5 class="card-title">FEATURED COLLECTION</h5>
                                <p class="card-text">Explore Neil Young's entire legendary discography.</p>
                            </div>
                            <img class="card-img-top" src="/assets/neil.webp" alt="">
                        </a>
                    </div>


                    <div class="card">
                        <a routerLink="/Joni-Mitchell" routerLinkActive="active">
                            <div class="card-body">
                                <h5 class="card-title">FEATURED COLLECTION</h5>
                                <p class="card-text">Don't feel blue, all of Joni Mitchell's music is right here.</p>
                            </div>
                            <img class="card-img-top" src="/assets/joni.webp" alt="">
                        </a>
                    </div>



                    <div class="card">
                    <a routerLink="/a-list-pop" routerLinkActive="active">
                        <div class="card-body">
                            <h5 class="card-title">UPDATED PLAYLIST</h5>
                            <p class="card-text">A-List Pop</p>
                        </div>
                        <img class="card-img-top" src="/assets/a-list pop.webp" alt="">
                    </a> 
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">SPATIAL AUDIO</h5>
                            <p class="card-text">Me vs. Me</p>
                        </div>
                        <img class="card-img-top" src="/assets/me vs me.webp" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">NEW FITNESS PLAYLIST</h5>
                            <p class="card-text">Ed Sheeran: Fitness+ Spotlight</p>
                        </div>
                        <img class="card-img-top" src="/assets/ed sheeran.webp" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">WATCH NOW</h5>
                            <p class="card-text">Our weekly video series recaps the latest and greatest in music.</p>
                        </div>
                        <img class="card-img-top" src="/assets/this week.webp" alt="">
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">FEATURED COLLECTION</h5>
                            <p class="card-text">Looking back on Al Green's Let's Stay Together, 50 years later.</p>
                        </div>
                        <img class="card-img-top" src="/assets/al green.webp" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">UPDATED PLAYLIST</h5>
                            <p class="card-text">Apple Music Pop</p>
                        </div>
                        <img class="card-img-top" src="/assets/danceXL.webp" alt="">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CELEBRATING</h5>
                            <p class="card-text">Celebrate with music in Spatial Audio, new playlists, and more.</p>
                        </div>
                        <img class="card-img-top" src="/assets/LNY.webp" alt="">
                    </div>
                </div>
            </div>

        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>