<div class ="row">
    <div class = "playlists">
        <hr>
        Playlists We Love
    </div>
</div>



<div class="row">
    <div class="card">
        <a routerLink="rb-now" routerLinkActive="active">
            <li class="nav-item" a href ="">
                <img class="card-img-top" src="/assets/RB now.webp" alt="">
                <div class="card-body">
                    <h5 class="card-title">R&B Now</h5>
                    <p class="card-text">Apple Music R&B</p>
                </div>
            </li>
        </a>
        
    </div>

    <div class="card">
        <a routerLink=""></a>
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/bedtime beats.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Bedtime Beats</h5>
                <p class="card-text">Apple Music Sleep</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/today's hits.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Today's Hits</h5>
                <p class="card-text">Apple Music Hits</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/rap life.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Rap Life</h5>
                <p class="card-text">Apple Music Hip-Hop</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/disney hits.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Disney Hits</h5>
                <p class="card-text">Disney</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/NMD.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">New Music Daily</h5>
                <p class="card-text">Apple Music</p>
            </div>
        </li>
    </div>
</div>

<div class ="row">
    <div class = "playlists">
        <hr>
        New in Spatial Audio
    </div>
</div>


<div class="row">
    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/earl.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">SICK!</h5>
                <p class="card-text">Earl Sweatshirt</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/c pop.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">C-Pop in Spatial Audio</h5>
                <p class="card-text">Apple Music C-Pop</p>
            </div>
        </li>
    </div>

    <div class="card" style="width: 18rem;">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/faith.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Faith (Deluxe)</h5>
                <p class="card-text">Pop Smoke</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/ballads.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Ballads</h5>
                <p class="card-text">John Coltrane Quartet</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/reckless.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Reckless (Deluxe Edition)</h5>
                <p class="card-text">Morgan Wade</p>
            </div>
        </li>
    </div>

    <div class="card">
        <li class="nav-item" a href ="">
            <img class="card-img-top" src="/assets/nija.webp" alt="">
            <div class="card-body">
                <h5 class="card-title">Don't Say I Didn't Warn You</h5>
                <p class="card-text">Nija</p>
            </div>
        </li>
    </div>
</div>