<div class="flex-container">
    <img src="/assets/2560px-Apple_Music_logo.svg.png" alt="" width="120" height="30" class="center">
</div>


<div class="center">
    Discover new music everyday.
</div>

<div class="info">
    Get playlists and albums inspired by the artists and genres you're listening to. 1 month free, then $9.99/month.
</div>

<div class="center">
    <button type="button" class="btn am">Try It Free</button>
</div>

<div class="center">
    <img src="/assets/listen-now.webp" alt="">
</div>